

swiper-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 10px;
  align-items: center;
  --swiper-pagination-bullet-active-color: #fff;
  --swiper-pagination-color: #fff;


  img {
    width: 32rem;
    height: 32rem;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}

.swiper-pagination {
  position: initial;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  transform: translate3d(0px, 0px, 0px);
  z-index: 10;
}
